@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent-color: #34d399;
    --bg-color: #000000;
    --main-font: 'JetBrains Mono';
    --canvas-height: 700px;
  }

  body {
    font-family: var(--main-font), monospace;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

.is-capturing .canvas-controls {
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.is-capturing .canvas-item {
  cursor: default !important;
}

.is-capturing .canvas-item img {
  visibility: visible !important;
  opacity: 1 !important;
}
